<template>
    <div class="homepage-container">
        <div class="box3-container">
            <div class="box3top" />
            <div class="box3content">
                <p>
                    <em>eMush</em> n'est actuellement pas ouvert au public car le jeu n'est pas terminé et est infesté de <em>Mush !!!</em>
                    <br><br>
                    Si vous êtes intéressés par le projet, n'hésitez pas à nous rejoindre sur les <a href="https://discord.gg/ERc3svy">discord</a> & <a href="https://eternal-twin.net/forum">Forum</a> d'Eternal-Twin.
                    Toutes les informations sont disponibles sur <a href="https://eternal-twin.net">Eternal-Twin</a>.
                    <br><br>
                    Concernant la version Alpha, elle sera lancée le 3 Janvier 2021. Le lien sera disponible sur <a href="https://eternal-twin.net">Eternal-Twin</a> & un code sera distribué le jour du lancement (Uniquement aux joueurs qui participent au vaisseau test de l'Alpha. En privé ou sur le <a href="https://discord.gg/ERc3svy">discord</a>.)
                    Pour faire partie du vaisseau test alpha, vous aurez besoin d'un compte sur le site <a href="https://eternal-twin.net/">Eternal-Twin</a>. Vous aurez besoin de vous connecter avec votre compte <a href="https://twinoid.com/">Twinoid</a>. Les comptes Hammerfest & Dino-Parc fonctionnent aussi.
                    <br><br>
                    Pour lier son compte Eternal-Twin à votre compte <a href="https://twinoid.com/">Twinoid</a>, vous devrez accepter l'application de <em>Demurgos</em> qui demande l'accès à toutes les données venant du site Twinoid. Cela permettra de garder l'ancienne progression de tous vos jeux.
                    Toutes les informations sont sur le site d'<a href="https://eternal-twin.net">Eternal-Twin</a>.
                    <br><br>
                    <em>Pour ceux qui voudraient participer à l'Alpha.</em> Pas d'inquiétude ! Il y aura d'autres vaisseaux tests qui seront lancés ultérieurement.
                    <br><br>
                </p>
            </div>
            <div class="box3bottom" />
        </div>
        <div class="box3-container">
            <div class="box3top" />
            <div class="box3content">
                <p>
                    <em>eMush</em> is not Open to the public right now because the game is unfinished and full of <em>Mush !!!</em>
                    <br><br>
                    If you are interested in the project, feel free to join us on Eternal-Twin <a href="https://discord.gg/ERc3svy">discord</a> or <a href="https://eternal-twin.net/forum">Forum</a>. All the informations are on <a href="https://eternal-twin.net">Eternal-Twin</a>.
                    <br><br>
                    Concerning the Alpha version, it will be launch the 3rd January 2021. A link will be available on <a href="https://eternal-twin.net/">Eternal-Twin</a> website & a code will be provide the launching day (Only to the player who take part of the Alpha Test ship. In Private message or on <a href="https://discord.gg/ERc3svy">discord</a>.)
                    To take part of this Alpha test ship, you will need an account on <a href="https://eternal-twin.net/">Eternal-Twin</a> website. You will need to connect you from your <a href="https://twinoid.com/">Twinoid</a> account. Hammerfest or Dino-Parc account work also.
                    <br><br>
                    With <a href="https://twinoid.com/">Twinoid</a>, to link your account to your <a href="https://eternal-twin.net/">Eternal-Twin</a> account, you will need to accept the <em>Demurgos</em> app who request access to all data coming from <a href="https://twinoid.com/">Twinoid</a>. It will allow to keep the progress of all your games.
                    All the information are on the <a href="https://eternal-twin.net">Eternal-Twin</a> website.
                    <br><br>
                    <em>For thoses who would like to participate to the Alpha State of the game.</em> No worries ! There will be other test ship who will be launched later.
                    <br><br>
                </p>
            </div>
            <div class="box3bottom" />
        </div>
        <div class="box3-container">
            <div class="box3top" />
            <div class="box3content">
                <p>
                    <em>eMush</em> ist im Moment nicht für die Öffentlichkeit zugänglich, da das Spiel noch unfertig und voller <em>Mush</em> ist <em>!!!</em>
                    <br><br>
                    Wenn du dich für das Projekt interessierst, kannst du dich gerne auf dem <a href="https://discord.gg/ERc3svy">Eternal-Twin-discord</a> oder im <a href="https://eternal-twin.net/forum">Forum</a> anmelden.
                    Alle Informationen sind auf <a href="https://eternal-twin.net">Eternal-Twin</a> zu finden.
                    <br><br>
                    Was die Alpha-Version betrifft, so wird sie am 3. Januar 2021 starten. Ein Link wird auf der <a href="https://eternal-twin.net">Eternal-Twin-Webseite</a> verfügbar sein und ein Code wird am Tag des Starts zur Verfügung gestellt (nur für Spieler, die am Alpha-Testschiff teilnehmen. Privat oder auf <a href="https://discord.gg/ERc3svy">discord</a>).
                    Um an diesem Alpha-Testschiff teilzunehmen, benötigst du einen Account auf der <a href="https://eternal-twin.net">Eternal-Twin-Webseite</a>. Du musst dich von deinem <a href="https://twinoid.com/">Twinoid-Account</a> verbinden. Hammerfest oder Dino-Parc Account funktionieren auch.
                    <br><br>
                    Bei <a href="https://twinoid.com/">Twinoid</a> musst du, um dein Konto mit deinem <a href="https://eternal-twin.net">Eternal-Twin-Konto</a> zu verbinden die App von <em>Demurgos</em> akzeptieren, die Zugriff auf alle Daten verlangt, die von Twinoid kommen. Damit kannst du den Fortschritt aller deiner Spiele verfolgen.
                    <br><br>
                    <em>Für diejenigen, die an der Alpha-Phase des Spiels teilnehmen möchten.</em> Keine Sorge! Es wird weitere Testschiffe geben, die später gestartet werden.
                    <br><br>
                </p>
            </div>
            <div class="box3bottom" />
        </div>
        <div class="box3-container">
            <div class="box3top" />
            <div class="box3content">
                <p>
                    <em>eMush</em> no está abierto al público en este momento, ya que el juego aún no está terminado y está lleno de <em>Mush !!!</em>
                    <br><br>
                    Si está interesado en el proyecto, no dude en inscribirse en el <a href="https://discord.gg/ERc3svy">discord</a> de Eternal-Twin o en los <a href="https://eternal-twin.net/forum">Foros</a>. Toda la información se puede encontrar en <a href="https://eternal-twin.net">Eternal-Twin</a>.
                    <br><br>
                    En cuanto a la versión alfa, se lanzará el 3 de enero de 2021. En la página web de <a href="https://eternal-twin.net/">Eternal-Twin</a> se podrá acceder a un enlace y el día del lanzamiento se pondrá a disposición un código (sólo para los jugadores que participen en la nave de pruebas Alfa. Privado o en <a href="https://discord.gg/ERc3svy">discord</a>).
                    Para participar en esta Nave de Prueba Alfa, necesitarás una cuenta en el sitio web de <a href="https://eternal-twin.net/">Eternal-Twin</a>. Necesitarás conectarte desde tu cuenta de <a href="https://twinoid.com/">Twinoid</a>. La cuenta de Hammerfest o Dino-Parc también funcionará.
                    <br><br>
                    En <a href="https://twinoid.com/">Twinoid</a>, para conectar tu cuenta con la de <a href="https://eternal-twin.net/">Eternal-Twin</a>, tendrás que aceptar la aplicación de <em>Demurgos</em>, que requiere el acceso a todos los datos procedentes de <a href="https://twinoid.com/">Twinoid</a>. Esto te permitirá seguir el progreso de todos tus juegos.
                    All the information are on the <a href="https://eternal-twin.net">Eternal-Twin</a> website.
                    <br><br>
                    <em>Para aquellos que quieran participar en la fase alfa del juego.</em> No se preocupe! Habrá más naves de prueba que serán lanzadas más tarde.
                    <br><br>
                </p>
            </div>
            <div class="box3bottom" />
        </div>
    </div>
</template>

<script>
export default {
    name: "HomePage"
};
</script>

<style scoped>
.homepage-container {
    align-self: center;
    max-width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.box3-container {
    margin: 20px;
}

.box3content {
    padding: 5px;
    width: 462px;
    flex-grow: 1;
    background: transparent url("~@/assets/images/box3bg.png") repeat-y center top;
}

.box3top {
    background: transparent url("~@/assets/images/box3top.png") no-repeat center top;
    padding-bottom: 60px;
}

.box3bottom {
    background: transparent url("~@/assets/images/box3bottom.png") no-repeat center bottom;
    padding-bottom: 60px;
}

a {
    color: #84e100;
}

a:hover {
    color: #e9ebf3;
}

a:visited {
    color: #84e100;
}

em {
    color: #01c3df;
    font-size: 15pt;
    font-style: normal;
    font-weight: bold;
}

p {
    text-align: justify;
    margin: -15px 15px;
    font-size: 11pt;
    text-shadow: -1px 0 2px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.5), 1px 0 2px rgba(0, 0, 0, 0.5);
}
</style>
